<h1>Workout</h1>

<p>
  Workout Name (optional)
</p>

<p>
  Equipment Needed (lists equipment used in workout)
</p>

<p>
  Workout description
</p>

<p>
  Random Workout
  <% @num_of_movements.times do |i| %>
    <% movement = @selected_movements[i] %>
    <li>
      <%= movement.name %>
    </li>
    <li>
      <%= movement.description %>
    </li>
    <li>
      <%= @selected_amounts[i].value_string %>
    </li>
  <% end %>
</p>

<p>
  Javascript Timer
</p>

<button>Skip To Another Workout</button>
