h1 {
  text-align: center;
  color: #93B7BE;
  margin-bottom: 20px;
  font-size: 40px;
}

.intro {
  font-size: 15px;
  text-align: justify;
}

.gender {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.gender h4 {
  font-size: 20px;
  color: #785964;
}

.gender .male {
  margin-left: 20px;
}

.skill {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.skill h4 {
  font-size: 20px;
  color: #785964;
}

.skill .novice {
  margin-left: 20px;
}

.skill .intermediate {
  margin-left: 20px;
}

.skill .advanced {
  margin-left: 20px;
}

.skill .elite {
  margin-left: 20px;
}

.weight {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.weight h4 {
  font-size: 20px;
  color: #785964;
}

.body {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.body h4 {
  font-size: 20px;
  color: #785964;
}

.body .upper {
  margin-left: 20px;
}

.body .lower {
  margin-left: 20px;
}

.body .surprise {
  margin-left: 20px;
}

.equipment {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.equipment h4 {
  font-size: 20px;
  color: #785964;
}

.equipment h5 {
  font-size: 15px;
  color: #785964;
}

.equipment input {
  margin-right: 20px;
}

.unit {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.unit h4 {
  font-size: 20px;
  color: #785964;
}

.unit .kgs {
  margin-left: 20px;
}

.time {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.time h4 {
  font-size: 20px;
  color: #785964;
}

.submit {
  text-align: center;
  margin-top: 40px;
}
